:root{
  --font-color:#555;
  --font-hover-color:orange;
}
body{
  height:100vh;
  font-family:"Raleway", sans-serif;
  background-color:#354148;
}

.app-container{
  display:flex;
  background-color:#354148;
  justify-content: space-between;
  flex-direction: row;
}

